@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit:wght@500&family=Lato&family=Montserrat:wght@300&family=Open+Sans&display=swap');
:root{
    --white: #fff;
    --black: #121212;
    --gray: #393947;
    --yellow: #ffbe00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--gray);
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.nav-list a{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid var(--yellow);
    letter-spacing: 3px;
}

/* botao no menu */
.button{
    display: flex;
    justify-content: center;
}
.btn{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 200;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: var(--yellow);
    color: var(--white);
    cursor: pointer;
}
